<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="#">
  <title>Home Page - Tiny App</title>
</head>
<body style="background-color: black;">
  <%- include('partials/_header') %>
  <div style="background-color: ivory; padding: 20px; margin: 30px; border-radius: 5px;">
  <section style="margin: 20px; text-align: center;">
    <h5 class="headline" style="color: green">Welcome to Tiny App!</h5>
    <p>Have an account? Sign in <a href="/urls/login">here</a>!</p>
    <p>Don't have an account? Click <a href="/urls/register">here</a> to create one!</p>
  </section>
</div>
</body>
</html>