<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="#">
  <title>Home Page - Tiny App</title>
</head>
<body style="background-color: #42714A;">
  <%- include('partials/_header') %>
  <div style="background-color: #D7F9DB; padding: 20px; margin: 30px; border-radius: 5px; box-shadow: 8px 8px 15px rgb(29, 28, 28);">
    <section style="margin: 20px; text-align: center;">
      <h5 class="headline" style="color: #364573">Welcome to Tiny App!</h5>
      <p>Have an account? Sign in <a href="/urls/login" style="color: #0FB150">here</a>!</p>
      <p>Don't have an account? Click <a href="/urls/register" style="color: #0FB150">here</a> to create one!</p>
    </section>
  </div>
</body>
</html>